.centering-wrapper {
  position: fixed;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%);
  z-index: 9998;
}

.no-image {
  padding-left: 10px;
  transition: padding-left 0.3s ease;
}

.with-image {
  padding-left: 6.5px;
  transition: padding-left 0.3s ease;
}

.no-cancel {
  padding-right: 10px;
  transition: padding-right 0.3s ease;
}

.with-cancel {
  padding-right: 6.5px;
  transition: padding-right 0.3s ease;
}

.status-island-container {
  display: flex;
  align-items: center;
}

.status-island-image {
  width: 26px;
  height: 26px;
  object-fit: cover;
  border-radius: 50%;
  vertical-align: middle;
  margin: 3.5px;
  transition: margin 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.status-island-text {
  font-family: Roboto;
  font-size: 16.875px;
  padding-top: 3.2px;
  padding-bottom: 2.8px;
  white-space: nowrap;
  transition: padding-top 0.3s ease, padding-bottom 0.3s ease, height 0.3s ease;
}

.status-island-cancel-button {
  box-sizing: border-box;
  margin: 3.5px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #659a4d;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: margin 0.3s ease;
}

.status-island-wrapper {
  position: relative;
  padding: 2.25px;
  border-radius: 28.75px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: padding 0.3s ease;
}

.status-island-wrapper:before, .status-island-wrapper:after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 28.75px;
  background: linear-gradient(45deg, #97fb64, #97fb64, #97fb64,#59963b, #4e8f2d, #71b64f, 
    #97fb64, #547a42,#97fb64, #97fb64);
  background-size: 400%;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: steam 20s linear infinite;
}

.status-island-wrapper:after {
  -webkit-filter: blur(15px);
  filter: blur(15px);
  transform: translate3d(0, 0, 0);
  opacity: 0.5;
}

.status-island {
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.25px;
  color: white;
  background-color: var(--Highlights-Stroke, #123800);
  border-radius: 26.5px;
}

.status-island-wrapper:hover {
  padding: 4px;
}

.status-island-wrapper:hover .status-island-text {
  padding-top: 5.2px;
  padding-bottom: 4.8px;
}

.status-island-wrapper:hover .no-image {
  padding-left: 12px;
}

.status-island-wrapper:hover .with-image {
  padding-left: 7px;
}

.status-island-wrapper:hover .no-cancel {
  padding-right: 12px;
}

.status-island-wrapper:hover .with-cancel {
  padding-right: 7px;
}

.status-island-wrapper:hover .status-island-image {
  margin: 5.5px;
}

.status-island-wrapper:hover .status-island-cancel-button {
  margin: 5.5px;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.timer {
  color: var(--highlight, #97fb64);
}
