.page-container {
    margin-top: 0px;
    padding: 0px;
}

.inline-loading {
  position: absolute;
  top: 36vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  min-height: 80px;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--background, #26627c);
  z-index: 2;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
}

.subtitle {
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.05em;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1;
}

.top-space {
    margin-top: 20px;
}

hr.solid {
  margin-top: 45px;
  margin-bottom: 40px;
  margin-left: 2px;
  margin-right: 2px;
  /* border-top: 2px solid #97FB64; */
  border: none;
  height: 3px;
  background-color: #aeff85;
}

.scrollable-container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: min-content;
}

.width-limiter {
  width: 100%;
  max-width: 550px;
}

.rentals-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.rentals-container li {
    margin-bottom: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-in {
  animation: fadeIn 0.25s ease-out;
}

.scooter-container-dynamic-wrapper {
  position: relative;
  padding: 3px;
  border-radius: 12px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  animation: fadeIn 0.25s ease-out;
}
.scooter-container-dynamic-wrapper:before, .scooter-container-dynamic-wrapper:after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 12px;
  /* background: linear-gradient(45deg, #97fb64, #97fb64, #97fb64,#59963b, #4e8f2d, #71b64f, 
    #97fb64, #547a42,#97fb64, #97fb64); */
  /* background: linear-gradient(45deg, #04afa6, #04afa6, #04afa6,#126688, #21447a, #05858e, 
    #04afa6, #292667,#04afa6, #04afa6); */
  background: linear-gradient(45deg, #befec2, #befec2, #befec2,#48fac6, #11d1c6, #69fcc6, 
    #befec2, #077cc9,#befec2, #befec2);
  background-size: 400%;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: steam 40s linear infinite;
}
.scooter-container-dynamic-wrapper:after {
  -webkit-filter: blur(10px);
  filter: blur(10px);
  transform: translate3d(0, 0, 0);
  opacity: 0.3;
}

.scooter-container-static-wrapper {
  position: relative;
  padding: 3px;
  border-radius: 12px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  animation: fadeIn 0.25s ease-out;
}
.scooter-container-static-wrapper:before, .scooter-container-static-wrapper:after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 12px;
  background: linear-gradient(45deg, #09a0b0, #09a0b0, #09a0b0,#0e5976, #1c3c6c, #057981, 
    #09a0b0, #201d50,#09a0b0, #09a0b0);
  background-size: 400%;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: steam 40s linear infinite;
}
.scooter-container-static-wrapper:after {
  -webkit-filter: blur(10px);
  filter: blur(10px);
  transform: translate3d(0, 0, 0);
  opacity: 0.3;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.scooter-container {
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10%;
    min-width: min-content;
    cursor: pointer;
    animation: fadeIn 0.25s ease-out;
}

.scooter-container-border-normal {
  padding: 15px;
  border: 2px solid #4a4242;
}

.scooter-container-border-dynamic-active {
  padding: 13px;
  border: 1px solid #bbf9bf;
}

.scooter-container-border-static-active {
  padding: 13px;
  border: 1px solid #0790a0;
}

.picture {
    width: 90px;
    height: auto;
    display: block;
    border-radius: 10px;
}

.scooter-details {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.scooter-details p {
    color: #4a4242;
}

.scooter-details .scooter-name {
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    margin: 0;
    line-height: 1;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.text-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
}

.text-item {
    margin: 0;
    padding: 0;
    width: auto;
    font-size: 13px;
    line-height: 1.2;
    font-family: Roboto;
    font-style: normal;
    width: fit-content;
    text-align: left;
}

.static-text-width {
    width: 115px;
}

.green-boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 3px;
}

.green-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    height: 30px;
    border-radius: 15px;
    border: 1.5px solid var(--Highlights-Stroke, #123800);
    background: var(--Highlights, #97FB64);
    padding-right: 7px;
    padding-left: 6px;
}

.green-box p {
    font-size: 0.8em;
    font-family: Roboto;
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
    line-height: 1;
    white-space: nowrap;
}

.green-box-dynamic {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    height: 30px;
    border-radius: 15px;
    border: 1.5px solid #2a7607;
    background: var(--Highlights-Stroke, #123800);
    padding-right: 7px;
    padding-left: 6px;
}

.green-box-dynamic p {
  font-size: 0.8em;
  font-family: Roboto;
  color: var(--Highlights, #97FB64);
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
  line-height: 1;
  white-space: nowrap;
}

.action-button, .action-button-static {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: fit-content;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    box-sizing: border-box;
    transform: scale(1);
    padding-right: 7px;
    padding-left: 6px;
}

.action-button:active, .action-button-static:active {
  transform: scale(0.95);
}

.action-button svg, .action-button-static svg {
  margin-top: -1px;
}

.action-button p, .action-button-static p {
    display: block;
    font-size: 0.8em;
    font-family: Roboto;
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
    line-height: 1;
    white-space: nowrap;
}

.action-button-accent {
  background-color: var(--accent-bg, #9af0ff);
  border: solid 1.5px var(--accent-fg, #2a1800);
}

.action-button-warning {
  background-color: var(--warn-bg, #C55136);
  border: solid 1.5px var(--accent-fg, #2a1800);
}

@media only screen and (max-width: 530px) {
  .action-button {
    gap: 0px;
    width: 30px;
    border-radius: 50%;
    padding-right: 0px;
    padding-left: 0px;
  }
  .action-button svg {
    margin-top: -3px;
  }
  .action-button p {
    display: none;
  }
}
@media only screen and (max-width: 445px) {
  .scooter-container {
    gap: 15px;
  }
}
@media only screen and (max-width: 422px) {
  .scooter-container {
      flex-direction: column;
  }
  .scooter-details .scooter-name {
      text-align: center;
  }
  .text-row {
      justify-content: center;
  }
  .green-boxes {
      justify-content: center;
  }
}
@media only screen and (max-width: 290px) {
  .text-container {
      gap: 2px;
  }
  .text-row {
      flex-direction: column;
      gap: 0px;
  }
  .text-item {
      width: 100%;
      text-align: center;
  }
  .static-text-width {
      width: auto;
  }
}

.no-scooter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.noScooterpicture {
    width: 100%;
    max-width: 400px;
}

.filter-menu-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    border: 2px solid #4a4242;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
}
  
.filter-menu {
    max-height: 400px; /* Adjust this as needed */
    overflow-y: auto;
}

.filter-menu-container .filter-content{
    color: black;
}

.filter-row {
    display: flex; /* Verwende Flexbox */
}
  
.app-user-input {
    margin-bottom: 10px; /* Add a vertical space between the elements */
    flex: 1; /* Let the app-user-input components grow flexibly */
}
  
.filter-row app-user-input {
    flex: 1; /* Let the app-user-input components in the line grow flexibly */
    margin-right: 10px; /* Add a horizontal space between the elements */
}
  
.filter-row app-user-input:first-child {
    flex: 1; /* Change the flex property of the first app-user-input element */
}
  
.filter-row app-user-input:last-child {
    flex: 1; /* Change the flex property of the last app-user-input element */
    margin-right: 0;
}

.top {
    margin-top: 5pt;
    display: flex;
}

.top app-button {
    flex:1;
    margin-right: 5px
}

.top app-button:first-child {
    flex: 1;
}

.top app-button:last-child {
    flex: 1; 
}

.o-title {
    color: black;
    text-align: center;
    font-size: 12pt;
}

.info {
    color: black;
}

.headWrapper {
  width: 100%;
  left: 0%;
  top: 20%;  
}
