.page-container {
    padding: 5px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #fff;
}

.scrollable-container {
    overflow-y: auto;
}

.rentals-container ul {
    list-style-type: none; /* Removes the bullet points */
    padding: 0;
    margin: 0;
}

.rentals-container li {
    margin-bottom: 20px;
}

.scooter-container {
    padding: 20px 20px 10px 20px;
    border: 2px solid #4a4242;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
}

.picture {
    width: 90px;
    height: auto;
    display: block;
}

.scooter-details {
    flex-grow: 1;
}

.scooter-details p {
    margin: 5px 0;
    color: #4a4242;
}

.scooter-details .scooter-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: -15px; /* Adjust this to move the name further up */
    margin-bottom: 10px; /* Adjust the spacing below the name */
    margin-left: 10px;
    line-height: 20px;
}

.scooter-details .date-text {
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    margin-top: -10px;
    margin-left: 10px;
    padding: 0;
}

.green-boxes {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

.green-box {
    width: 85px;
    height: 30px;
    border-radius: 15px;
    border: 1.5px solid var(--Highlights-Stroke, #123800);
    background: var(--Highlights, #97FB64);
    margin-top: 10px;
}

.green-box svg {
    margin-left: 5px;
    margin-top: 2px;
}

.green-box p {
    font-size: 0.8em; /* Smaller font size */
    font-family: Roboto;
    margin-left: 30px;
    margin-top: -30px;
    letter-spacing: 0.5px; /* Adjust letter spacing */
}

.download-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #0091ffbd;
    padding: 2px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 4px;
    margin-top: 10px;
}

.extra-space {
    padding-left: 27px;
}

.no-scooter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.noScooterpicture {
    width: 100%;
}

.filter-menu-container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border: 2px solid #4a4242;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .filter-menu {
    max-height: 400px; /* Adjust this as needed */
    overflow-y: auto;
  }

  .filter-menu-container .filter-content{
    color: black;
  }

  .filter-row {
    display: flex; /* Verwende Flexbox */
  }
  
  .app-user-input {
    margin-bottom: 10px; /* Add a vertical space between the elements */
    flex: 1; /* Let the app-user-input components grow flexibly */
  }
  
  .filter-row app-user-input {
    flex: 1; /* Let the app-user-input components in the line grow flexibly */
    margin-right: 10px; /* Add a horizontal space between the elements */
  }
  
  .filter-row app-user-input:first-child {
    flex: 1; /* Change the flex property of the first app-user-input element */
  }
  
  .filter-row app-user-input:last-child {
    flex: 1; /* Change the flex property of the last app-user-input element */
    margin-right: 0;
  }

  .top {
    margin-top: 5pt;
    display: flex;
  }

  .top app-button{
    flex:1;
    margin-right: 5px
  }

  .top app-button:first-child{
    flex: 1;
  }

  .top app-button:last-child{
    flex: 1;
    
  }

  .o-title{
    color: black;
    text-align: center;
  }

  .info{
    color: black;
  }