<app-loading-overlay [isLoading]="processingEndRental"></app-loading-overlay>

<app-info-modal [showModal]="hotErrorMessage ? true : false" [close]="onCloseHotError" [title]="errorMessage" [showIcon]="true" cancelText="Schließen" iconMode="warn">
  {{ hotErrorMessage }}
</app-info-modal>

<app-info-modal [showModal]="showPaymentOffsetInfoModal" [close]="onClosePaymentOffsetInfoModal" title="Abrechnungsabweichung" [showIcon]="true" cancelText="Schließen">
  In seltenen Fällen kann es zu Abweichungen zwischen dem Rechnungsbetrag und dem Abbuchungsbetrag kommen, beispielsweise wenn dein Zahlungsdienstleister bei der Beendigung einer Buchung nicht verfügbar ist. In der Regel versuchen wir dann etwas später erneut, die Zahlung auszugleichen oder verrechnen den Unterschiedsbetrag mit deiner nächsten Buchung. Bei Rückfragen wende dich bitte an unseren Kunden-Service.
</app-info-modal>

<app-confirm-modal [showModal]="this.confirmModal.showConfirmModal" [confirm]="onConfirmConfirmModal" [cancel]="onCloseConfirmModal" [reverseControls]="true" [title]="userLocation ? 'Buchung beenden?' : 'Steht der Scooter wieder am Abholort?'" [iconMode]="userLocation ? 'normal' : 'warn'" [confirmText]="!userLocation ? 'Ja, Buchung beenden' : 'Ja'" [confirmMode]="!userLocation ? 'warn' : 'normal'">
  <span *ngIf="userLocation">Bist du sicher, dass du die Buchung für den Scooter {{ this.confirmModal.scooterName }} beenden und ihn an deinem aktuellen Standort ({{ userLocation.latitude }}, {{ userLocation.longitude }}) abstellen willst?</span>
  <span *ngIf="!userLocation">Beende die Buchung nur, wenn du den Scooter wieder an den Abholort zurückgebracht hast. Bitte gib deinen Standort frei, wenn du den Scooter {{ this.confirmModal.scooterName }} lieber an deiner aktuellen Position abstellen willst und versuche es dann erneut.</span>
</app-confirm-modal>

<app-info-modal [showModal]="infoModal.show" [action]="onNavigateToScooter" [close]="onCloseInfoModal" [title]="infoModal.title" [showIcon]="false" [showActionButton]="infoModal.isActive ? false : true" actionText="Zum Scooter" cancelText="Schließen" [centerControls]="true" [bigFont]="true">
  <div style="width: 100%; display: flex; justify-content: center; margin-bottom: 1em;">
    <img *ngIf="getPictureByScooterId(infoModal.scooterId)" (load)="onImageLoad(infoModal.scooterId.toString())"  [ngClass]="{'picture': true, 'animate-in': imageLoaded[infoModal.scooterId]}" [src]="getPictureByScooterId(infoModal.scooterId)" style="min-width: 60px; max-width: 120px;" />
  </div>
  <div class="green-boxes" style="justify-content: center; margin-bottom: 0.85em; gap: 7.5px;">
    <div *ngIf="infoModal.mode === 'dynamic'" class="green-box-dynamic">
      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
        <path d="M18.732 9.9857L11.0058 2.25945C10.682 1.9357 10.2358 1.75195 9.77204 1.75195H3.49829C2.53579 1.75195 1.74829 2.53945 1.74829 3.50195V9.7757C1.74829 10.2395 1.93204 10.6857 2.26454 11.0095L9.99079 18.7357C10.6733 19.4182 11.7845 19.4182 12.467 18.7357L18.7408 12.462C19.4233 11.7795 19.4233 10.677 18.732 9.9857ZM11.2245 17.502L3.49829 9.7757V3.50195H9.77204L17.4983 11.2282L11.2245 17.502Z" fill="#97FB64"/>
        <path d="M5.68579 7.00195C6.41066 7.00195 6.99829 6.41433 6.99829 5.68945C6.99829 4.96458 6.41066 4.37695 5.68579 4.37695C4.96092 4.37695 4.37329 4.96458 4.37329 5.68945C4.37329 6.41433 4.96092 7.00195 5.68579 7.00195Z" fill="#97FB64"/>
      </svg>
      <p>{{ infoModal.rentalObj!.total_price }}</p>
    </div>
    <div *ngIf="infoModal.mode === 'dynamic' && infoModal.rentalObj && hasPastTime(infoModal.rentalObj)" class="green-box-dynamic">
      <svg xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 -960 960 960" width="22px" fill="#97FB64" style="margin-left: -1.25px; margin-bottom: 0.7px;">
        <path d="m612-292 56-56-148-148v-184h-80v216l172 172ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-400Zm0 320q133 0 226.5-93.5T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160Z"/>
      </svg>
      <p>{{ infoModal.rentalObj.pastTime }}</p>
    </div>
    <div *ngIf="infoModal.mode === 'prepaid' && infoModal.rentalObj && hasRemainingTime(infoModal.rentalObj)" [ngClass]="(infoModal.rentalObj.remainingTime !== '0m 0s') ? 'green-box-dynamic' : 'green-box'">
      <svg *ngIf="infoModal.rentalObj.remainingTime !== '0m 0s'" style="margin-left:-1px; margin-right:0px;" xmlns="http://www.w3.org/2000/svg" height="21px" viewBox="0 -960 960 960" width="21px" fill="#97FB64">
        <path d="M360-840v-80h240v80H360Zm80 440h80v-240h-80v240Zm40 320q-74 0-139.5-28.5T226-186q-49-49-77.5-114.5T120-440q0-74 28.5-139.5T226-694q49-49 114.5-77.5T480-800q62 0 119 20t107 58l56-56 56 56-56 56q38 50 58 107t20 119q0 74-28.5 139.5T734-186q-49 49-114.5 77.5T480-80Zm0-80q116 0 198-82t82-198q0-116-82-198t-198-82q-116 0-198 82t-82 198q0 116 82 198t198 82Zm0-280Z"/>
      </svg>
      <svg *ngIf="infoModal.rentalObj.remainingTime === '0m 0s'" xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none" style="margin-top: -1px;">
        <path d="M16.625 3.5H15.75V1.75H14V3.5H7V1.75H5.25V3.5H4.375C3.40375 3.5 2.625 4.2875 2.625 5.25V17.5C2.625 18.4625 3.40375 19.25 4.375 19.25H16.625C17.5875 19.25 18.375 18.4625 18.375 17.5V5.25C18.375 4.2875 17.5875 3.5 16.625 3.5ZM16.625 17.5H4.375V8.75H16.625V17.5ZM16.625 7H4.375V5.25H16.625V7ZM6.125 10.5H10.5V14.875H6.125V10.5Z" fill="#123800"/>
      </svg>
      <p *ngIf="infoModal.rentalObj.remainingTime !== '0m 0s'">{{ infoModal.rentalObj.remainingTime }}</p>
      <p *ngIf="infoModal.rentalObj.remainingTime === '0m 0s'">{{ rentalDuration(infoModal.createdAt, infoModal.endedAt)}}</p>
    </div>
    <div *ngIf="infoModal.mode === 'past'" class="green-box">
      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none" style="margin-top: -1px;">
        <path d="M16.625 3.5H15.75V1.75H14V3.5H7V1.75H5.25V3.5H4.375C3.40375 3.5 2.625 4.2875 2.625 5.25V17.5C2.625 18.4625 3.40375 19.25 4.375 19.25H16.625C17.5875 19.25 18.375 18.4625 18.375 17.5V5.25C18.375 4.2875 17.5875 3.5 16.625 3.5ZM16.625 17.5H4.375V8.75H16.625V17.5ZM16.625 7H4.375V5.25H16.625V7ZM6.125 10.5H10.5V14.875H6.125V10.5Z" fill="#123800"/>
      </svg>
      <p>{{ rentalDuration(infoModal.createdAt, infoModal.endedAt)}}</p>
    </div>
    <div *ngIf="infoModal.mode === 'prepaid' && infoModal.rentalObj" class="green-box">
      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none" style="margin-top: 1px;">
        <path d="M18.732 9.9857L11.0058 2.25945C10.682 1.9357 10.2358 1.75195 9.77204 1.75195H3.49829C2.53579 1.75195 1.74829 2.53945 1.74829 3.50195V9.7757C1.74829 10.2395 1.93204 10.6857 2.26454 11.0095L9.99079 18.7357C10.6733 19.4182 11.7845 19.4182 12.467 18.7357L18.7408 12.462C19.4233 11.7795 19.4233 10.677 18.732 9.9857ZM11.2245 17.502L3.49829 9.7757V3.50195H9.77204L17.4983 11.2282L11.2245 17.502Z" fill="#123800"/>
        <path d="M5.68579 7.00195C6.41066 7.00195 6.99829 6.41433 6.99829 5.68945C6.99829 4.96458 6.41066 4.37695 5.68579 4.37695C4.96092 4.37695 4.37329 4.96458 4.37329 5.68945C4.37329 6.41433 4.96092 7.00195 5.68579 7.00195Z" fill="#123800"/>
      </svg>
      <p>{{ convertCurrencyUnits((getExactRentalDurationInHours(infoModal.createdAt, infoModal.endedAt)*toNumber(infoModal.rentalObj.price_per_hour)).toString(), selectedCurrency) }}</p>
    </div>
    <div *ngIf="infoModal.mode === 'past' && infoModal.rentalObj" class="green-box">
      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none" style="margin-top: 1px;">
        <path d="M18.732 9.9857L11.0058 2.25945C10.682 1.9357 10.2358 1.75195 9.77204 1.75195H3.49829C2.53579 1.75195 1.74829 2.53945 1.74829 3.50195V9.7757C1.74829 10.2395 1.93204 10.6857 2.26454 11.0095L9.99079 18.7357C10.6733 19.4182 11.7845 19.4182 12.467 18.7357L18.7408 12.462C19.4233 11.7795 19.4233 10.677 18.732 9.9857ZM11.2245 17.502L3.49829 9.7757V3.50195H9.77204L17.4983 11.2282L11.2245 17.502Z" fill="#123800"/>
        <path d="M5.68579 7.00195C6.41066 7.00195 6.99829 6.41433 6.99829 5.68945C6.99829 4.96458 6.41066 4.37695 5.68579 4.37695C4.96092 4.37695 4.37329 4.96458 4.37329 5.68945C4.37329 6.41433 4.96092 7.00195 5.68579 7.00195Z" fill="#123800"/>
      </svg>
      <p>{{ convertCurrencyUnits(infoModal.rentalObj.total_price, selectedCurrency) }}</p>
    </div>
    <div class="green-box">
      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none" style="margin-top: 1px;">
        <path d="M18.732 9.9857L11.0058 2.25945C10.682 1.9357 10.2358 1.75195 9.77204 1.75195H3.49829C2.53579 1.75195 1.74829 2.53945 1.74829 3.50195V9.7757C1.74829 10.2395 1.93204 10.6857 2.26454 11.0095L9.99079 18.7357C10.6733 19.4182 11.7845 19.4182 12.467 18.7357L18.7408 12.462C19.4233 11.7795 19.4233 10.677 18.732 9.9857ZM11.2245 17.502L3.49829 9.7757V3.50195H9.77204L17.4983 11.2282L11.2245 17.502Z" fill="#123800"/>
        <path d="M5.68579 7.00195C6.41066 7.00195 6.99829 6.41433 6.99829 5.68945C6.99829 4.96458 6.41066 4.37695 5.68579 4.37695C4.96092 4.37695 4.37329 4.96458 4.37329 5.68945C4.37329 6.41433 4.96092 7.00195 5.68579 7.00195Z" fill="#123800"/>
      </svg>
      <p *ngIf="infoModal.rentalObj">{{ convertCurrencyUnits(infoModal.rentalObj.price_per_hour.toString(), selectedCurrency) }}{{ '/h' }}</p>
    </div>
  </div>
  <div *ngIf="!infoModal.renew" style="display: flex; justify-content: center; margin-bottom: 0.7em;">
    <div class="action-button-static action-button-accent" style="padding-left: 7px; padding-right: 8px; gap: 2.5px; height: 35px; border-radius: 20px;" (click)="displayInvoice(infoModal.rentalId)">
      <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 16L12 4M12 16L8 12M12 16L16 12M4 20H20" stroke="#2a1800" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <p [ngStyle]="{'font-size': getInvoiceDownloadFontSize()}">Rechnung herunterladen</p>
    </div>
  </div>
  <div *ngIf="infoModal.renew" style="display: flex; justify-content: center; margin-bottom: 0.7em;">
    <div class="action-button-static action-button-warning" style="padding-left: 4px; padding-right: 8px; gap: 2.5px; height: 35px; border-radius: 20px;" (click)="onCancelRental(infoModal.rentalObj)">
      <svg style="margin-top: 0px;" xmlns="http://www.w3.org/2000/svg" height="23px" viewBox="0 -960 960 960" width="23px" fill="#FFFFFF">
        <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
      </svg>
      <p style="color: #ffffff;">Buchung Beenden</p>
    </div>
  </div>
  <div class="text-container" style="flex-direction: row; flex-wrap: wrap; gap: 10px; justify-content: space-around;">
    <div class="text-row" style="flex-direction: column; gap: 0px; justify-content: center;">
      <p class="text-item" style="width: 100%; text-align: center; font-size: 15px;">Ausgeliehen am:</p><p class="text-item" style="width: 100%; text-align: center; font-size: 15px;">{{ formatDateTime(infoModal.createdAt) }}</p>
    </div>
    <div *ngIf="infoModal.mode === 'prepaid' && infoModal.rentalObj && hasRemainingTime(infoModal.rentalObj)" class="text-row" style="flex-direction: column; gap: 0px; justify-content: center;">
      <p class="text-item" style="width: 100%; text-align: center; font-size: 15px;">{{ infoModal.rentalObj.remainingTime !== '0m 0s' ? 'Rückgabezeitpunkt:' : 'Zurückgegeben am:' }}</p><p class="text-item" style="width: 100%; text-align: center; font-size: 15px;">{{ formatDateTime(infoModal.endedAt) }}</p>
    </div>
    <div *ngIf="infoModal.mode === 'past'" class="text-row" style="flex-direction: column; gap: 0px; justify-content: center;">
      <p class="text-item" style="width: 100%; text-align: center; font-size: 15px;">Zurückgegeben am:</p><p class="text-item" style="width: 100%; text-align: center; font-size: 15px;">{{ formatDateTime(infoModal.endedAt) }}</p>
    </div>
  </div>
  <div *ngIf="infoModal.rentalObj && getPaymentOffsetAsFloat(infoModal.rentalObj) !== 0" class="text-container" style="flex-direction: row; flex-wrap: wrap; gap: 10px; justify-content: space-around;">
    <p *ngIf="getPaymentOffsetAsFloat(infoModal.rentalObj) > 0" class="text-item" style="margin-top: 1em; width: 100%; text-align: center; font-size: 15px; line-height: 1;">Der Rechnungsbetrag ist mit {{ (getPaymentOffsetAsFloat(infoModal.rentalObj)).toFixed(2) }} € überbezahlt. <svg (click)="onOpenPaymentOffsetInfoModal()" xmlns="http://www.w3.org/2000/svg" height="23px" viewBox="0 -960 960 960" width="23px" fill="#495057" style="vertical-align: middle; margin-bottom: 4px; cursor: pointer;"><path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg></p>
    <p *ngIf="getPaymentOffsetAsFloat(infoModal.rentalObj) < 0" class="text-item" style="margin-top: 1em; width: 100%; text-align: center; font-size: 15px; line-height: 1;">Der Rechnungsbetrag ist mit {{ (-getPaymentOffsetAsFloat(infoModal.rentalObj)).toFixed(2) }} € unterbezahlt. <svg (click)="onOpenPaymentOffsetInfoModal()" xmlns="http://www.w3.org/2000/svg" height="23px" viewBox="0 -960 960 960" width="23px" fill="#495057" style="vertical-align: middle; margin-bottom: 4px; cursor: pointer;"><path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg></p>
  </div>
</app-info-modal>

<app-toast #toastComponentError [showDuration]=6000 type="error">{{errorMessage}}</app-toast>

<div class="page-container">
  <div class="header">
    <app-filter-button (filterToggle)="toggle()"></app-filter-button>
    <h1 class="title">Meine Buchungen</h1>

    <div class="wrapper">
      <div *ngIf="filterMenuVisible" class="filter-menu-container">
        <div class="top">
          <app-button class="btn" type="submit" (click)="onSubmit()">
            Anwenden
          </app-button>
          <app-button color="accent" class="btn" (click)="onCancel()">
            Zurücksetzten
          </app-button>
        </div>
        <div class="info"></div>
        <div class="filter-content">
          <h3 class="o-title">Filter Menü</h3>
          <p-dropdown [options]="sortings" optionLabel="name" [(ngModel)]="selectedSorting"  placeholder="Sortierung wählen" (onChange)="onOrderChange($event)"></p-dropdown> 
          <div class="form-container">
            <form [formGroup]="bookingFilterForm" (ngSubmit)="onSubmit()">
              <div class="filter-row">
                <app-user-input label="Gebucht nach" [(text)]="lower" formControlName="lower"(input)="autoFormatDate($event, 'lower')"></app-user-input>
                <app-user-input label="Beendet vor" [(text)]="upper" formControlName="upper"(input)="autoFormatDate($event, 'upper')"></app-user-input>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="scrollable-container">
  <div class="width-limiter">

    <div *ngIf="!isLoading; else loading" class="rentals-container">
      <div *ngIf="(activeRentals.length > 0 || filteredRentals.length > 0); else noRentals">
        <ul #activeRentalList *ngIf="activeRentals.length > 0" style="margin-top: 25px;">
          <li #rentalItem *ngFor="let rental of activeRentals" [attr.data-id]="rental.id">
            <div [ngClass]="[rental.renew ? 'scooter-container-dynamic-wrapper' : 'scooter-container-static-wrapper']">
              <div [ngClass]="['scooter-container', rental.renew ? 'scooter-container-border-dynamic-active' : 'scooter-container-border-static-active']" (click)="onClickRental(rental.id)">
                <img *ngIf="getPictureByScooterId(rental.scooterId)" (load)="onImageLoad(rental.scooterId.toString())"  [ngClass]="{'picture': true, 'animate-in': imageLoaded[rental.scooterId]}" [src]="getPictureByScooterId(rental.scooterId)" />
                <div class="scooter-details">
                  <p class="scooter-name">{{ getNameByScooterId(rental.scooterId) }}</p>
                  <div class="text-container">
                    <div class="text-row">
                      <p [ngClass]="['text-item', !rental.renew ? 'static-text-width' : '']">Ausgeliehen am:</p><p class="text-item">{{ formatDateTime(rental.createdAt) }}</p>
                    </div>
                    <div *ngIf="!rental.renew" class="text-row">
                      <p [ngClass]="['text-item', !rental.renew ? 'static-text-width' : '']">Rückgabezeitpunkt:</p><p class="text-item">{{ formatDateTime(rental.nextActionTime.toString()) }}</p>
                    </div>
                    <div *ngIf="rental.renew" class="text-row">
                      <p [ngClass]="['text-item', !rental.renew ? 'static-text-width' : '']">Zeit seit Abholung:</p><p class="text-item">{{ rental.pastTime }}</p>
                    </div>
                  </div>
                  <div class="green-boxes">
                    <div *ngIf="!rental.renew && rental.remainingTime" class="green-box-dynamic">
                      <svg style="margin-left:-1px; margin-right:0px;" xmlns="http://www.w3.org/2000/svg" height="21px" viewBox="0 -960 960 960" width="21px" fill="#97FB64">
                        <path d="M360-840v-80h240v80H360Zm80 440h80v-240h-80v240Zm40 320q-74 0-139.5-28.5T226-186q-49-49-77.5-114.5T120-440q0-74 28.5-139.5T226-694q49-49 114.5-77.5T480-800q62 0 119 20t107 58l56-56 56 56-56 56q38 50 58 107t20 119q0 74-28.5 139.5T734-186q-49 49-114.5 77.5T480-80Zm0-80q116 0 198-82t82-198q0-116-82-198t-198-82q-116 0-198 82t-82 198q0 116 82 198t198 82Zm0-280Z"/>
                      </svg>
                      <p>{{ rental.remainingTime }}</p>
                    </div>
                    <!-- <div *ngIf="!rental.renew && !rental.remainingTime" class="green-box">
                      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                        <path d="M16.625 3.5H15.75V1.75H14V3.5H7V1.75H5.25V3.5H4.375C3.40375 3.5 2.625 4.2875 2.625 5.25V17.5C2.625 18.4625 3.40375 19.25 4.375 19.25H16.625C17.5875 19.25 18.375 18.4625 18.375 17.5V5.25C18.375 4.2875 17.5875 3.5 16.625 3.5ZM16.625 17.5H4.375V8.75H16.625V17.5ZM16.625 7H4.375V5.25H16.625V7ZM6.125 10.5H10.5V14.875H6.125V10.5Z" fill="#97FB64"/>
                      </svg>
                      <p>{{ rentalDuration(rental.createdAt, rental.nextActionTime.toString())}}</p>
                    </div> -->
                    <div *ngIf="!rental.renew && rental.remainingTime" class="green-box">
                      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                        <path d="M18.732 9.9857L11.0058 2.25945C10.682 1.9357 10.2358 1.75195 9.77204 1.75195H3.49829C2.53579 1.75195 1.74829 2.53945 1.74829 3.50195V9.7757C1.74829 10.2395 1.93204 10.6857 2.26454 11.0095L9.99079 18.7357C10.6733 19.4182 11.7845 19.4182 12.467 18.7357L18.7408 12.462C19.4233 11.7795 19.4233 10.677 18.732 9.9857ZM11.2245 17.502L3.49829 9.7757V3.50195H9.77204L17.4983 11.2282L11.2245 17.502Z" fill="#123800"/>
                        <path d="M5.68579 7.00195C6.41066 7.00195 6.99829 6.41433 6.99829 5.68945C6.99829 4.96458 6.41066 4.37695 5.68579 4.37695C4.96092 4.37695 4.37329 4.96458 4.37329 5.68945C4.37329 6.41433 4.96092 7.00195 5.68579 7.00195Z" fill="#123800"/>
                      </svg>
                      <p>{{ convertCurrencyUnits((getExactRentalDurationInHours(rental.createdAt, rental.nextActionTime.toString())*toNumber(rental.price_per_hour)).toString(), selectedCurrency) }}</p>
                    </div>
                    <div *ngIf="rental.renew && rental.total_price" class="green-box-dynamic">
                      <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                        <path d="M18.732 9.9857L11.0058 2.25945C10.682 1.9357 10.2358 1.75195 9.77204 1.75195H3.49829C2.53579 1.75195 1.74829 2.53945 1.74829 3.50195V9.7757C1.74829 10.2395 1.93204 10.6857 2.26454 11.0095L9.99079 18.7357C10.6733 19.4182 11.7845 19.4182 12.467 18.7357L18.7408 12.462C19.4233 11.7795 19.4233 10.677 18.732 9.9857ZM11.2245 17.502L3.49829 9.7757V3.50195H9.77204L17.4983 11.2282L11.2245 17.502Z" fill="#97FB64"/>
                        <path d="M5.68579 7.00195C6.41066 7.00195 6.99829 6.41433 6.99829 5.68945C6.99829 4.96458 6.41066 4.37695 5.68579 4.37695C4.96092 4.37695 4.37329 4.96458 4.37329 5.68945C4.37329 6.41433 4.96092 7.00195 5.68579 7.00195Z" fill="#97FB64"/>
                      </svg>
                      <p>{{ rental.total_price }}</p>
                    </div>
                    <div *ngIf="!rental.renew" class="action-button action-button-accent" (click)="displayInvoice(rental.id); $event.stopPropagation()">
                      <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 16L12 4M12 16L8 12M12 16L16 12M4 20H20" stroke="#2a1800" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                      <p>Rechnung</p>
                    </div>
                    <div *ngIf="rental.renew" class="action-button-static action-button-warning" style="padding-left: 3px; gap: 2.5px;" (click)="onCancelRental(rental); $event.stopPropagation()">
                      <svg style="margin-top: 0px;" xmlns="http://www.w3.org/2000/svg" height="23px" viewBox="0 -960 960 960" width="23px" fill="#FFFFFF">
                        <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
                      </svg>
                      <p style="color: #ffffff;">Beenden</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <hr #greenBar *ngIf="(activeRentals.length > 0) && (filteredRentals.length > 0)" class="solid animate-in">

        <h2 #pastRentalsTitle *ngIf="filteredRentals.length > 0" [ngClass]="['subtitle', 'animate-in', (activeRentals.length > 0) ? '' : 'top-space']">Beendete Buchungen</h2>
        <ul *ngIf="filteredRentals.length > 0">
          <li *ngFor="let rental of filteredRentals" @itemEnter>
            <div class="scooter-container scooter-container-border-normal" (click)="onClickRental(rental.id)">
              <img *ngIf="getPictureByScooterId(rental.scooterId)" (load)="onImageLoad(rental.scooterId.toString())"  [ngClass]="{'picture': true, 'animate-in': imageLoaded[rental.scooterId]}" [src]="getPictureByScooterId(rental.scooterId)" />
              <div class="scooter-details">
                <p class="scooter-name">{{ getNameByScooterId(rental.scooterId) }}</p>
                <div class="text-container">
                  <div class="text-row">
                    <p class="text-item static-text-width">Ausgeliehen am:</p><p class="text-item">{{ formatDateTime(rental.createdAt) }}</p>
                  </div>
                  <div class="text-row">
                    <p class="text-item static-text-width">Zurückgegeben am:</p><p class="text-item">{{ formatDateTime(rental.endedAt) }}</p>
                  </div>
                </div>
                <div class="green-boxes">
                  <div class="green-box">
                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none" style="margin-top: -1px;">
                      <path d="M16.625 3.5H15.75V1.75H14V3.5H7V1.75H5.25V3.5H4.375C3.40375 3.5 2.625 4.2875 2.625 5.25V17.5C2.625 18.4625 3.40375 19.25 4.375 19.25H16.625C17.5875 19.25 18.375 18.4625 18.375 17.5V5.25C18.375 4.2875 17.5875 3.5 16.625 3.5ZM16.625 17.5H4.375V8.75H16.625V17.5ZM16.625 7H4.375V5.25H16.625V7ZM6.125 10.5H10.5V14.875H6.125V10.5Z" fill="#123800"/>
                    </svg>
                    <p>{{ rentalDuration(rental.createdAt, rental.endedAt)}}</p>
                  </div>
                  <div class="green-box">
                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none" style="margin-top: 1px;">
                      <path d="M18.732 9.9857L11.0058 2.25945C10.682 1.9357 10.2358 1.75195 9.77204 1.75195H3.49829C2.53579 1.75195 1.74829 2.53945 1.74829 3.50195V9.7757C1.74829 10.2395 1.93204 10.6857 2.26454 11.0095L9.99079 18.7357C10.6733 19.4182 11.7845 19.4182 12.467 18.7357L18.7408 12.462C19.4233 11.7795 19.4233 10.677 18.732 9.9857ZM11.2245 17.502L3.49829 9.7757V3.50195H9.77204L17.4983 11.2282L11.2245 17.502Z" fill="#123800"/>
                      <path d="M5.68579 7.00195C6.41066 7.00195 6.99829 6.41433 6.99829 5.68945C6.99829 4.96458 6.41066 4.37695 5.68579 4.37695C4.96092 4.37695 4.37329 4.96458 4.37329 5.68945C4.37329 6.41433 4.96092 7.00195 5.68579 7.00195Z" fill="#123800"/>
                    </svg>
                    <p>{{convertCurrencyUnits(rental.total_price.toString(), selectedCurrency)}}</p>          
                  </div>
                  <div class="action-button action-button-accent" (click)="displayInvoice(rental.id); $event.stopPropagation()">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 16L12 4M12 16L8 12M12 16L16 12M4 20H20" stroke="#2a1800" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p>Rechnung</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      
      <ng-template #noRentals>
        <div class="no-scooter-container">
          <h3>Keine Buchungen vorhanden.</h3>
          <img class="noScooterpicture" src="/assets/NoScooter.png" />
        </div>
      </ng-template>
    </div>
    <ng-template #loading>
      <app-loading-overlay class="inline-loading" [isLoading]="true" type="inline"></app-loading-overlay>
    </ng-template>

  </div>
  </div>

</div>
