.page-container {
    padding: 0px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #fff;
}

.subtitle {
    text-align: center;
    font-size: 1.1em;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.scrollable-container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: min-content;
}

.width-limiter {
  width: 100%;
  max-width: 550px;
}

.rentals-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.rentals-container li {
    margin-bottom: 20px;
}

.scooter-container {
    padding: 15px;
    border: 2px solid #4a4242;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-width: min-content;
    cursor: pointer;
}

.picture {
    width: 90px;
    height: auto;
    display: block;
    border-radius: 10px;
}

.scooter-details {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.scooter-details p {
    color: #4a4242;
}

.scooter-details .scooter-name {
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    margin: 0;
    line-height: 1;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.text-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
}

.text-item {
    margin: 0;
    padding: 0;
    width: auto;
    font-size: 13px;
    line-height: 1.2;
    font-family: Roboto;
    font-style: normal;
    width: fit-content;
    text-align: left;
}

.static-text-width {
    width: 115px;
}

.green-boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 3px;
}

.green-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    height: 30px;
    border-radius: 15px;
    border: 1.5px solid var(--Highlights-Stroke, #123800);
    background: var(--Highlights, #97FB64);
    padding-right: 7px;
    padding-left: 6px;
}

.green-box p {
    font-size: 0.8em;
    font-family: Roboto;
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
    line-height: 1;
    white-space: nowrap;
}

.download-button, .download-button-static {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: fit-content;
    height: 30px;
    /* background-color: #0091ffbd; */
    background-color: var(--accent-bg, #9af0ff);
    border: solid 1.5px var(--accent-fg, #2a1800);
    border-radius: 15px;
    cursor: pointer;
    box-sizing: border-box;
    transform: scale(1);
    padding-right: 7px;
    padding-left: 6px;
}

.download-button:active, .download-button-static:active {
  transform: scale(0.95);
}

.download-button svg, .download-button-static svg {
  margin-top: -1px;
}

.download-button p, .download-button-static p {
    display: block;
    font-size: 0.8em;
    font-family: Roboto;
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
    line-height: 1;
    white-space: nowrap;
}

@media only screen and (max-width: 500px) {
  .download-button {
    gap: 0px;
    width: 30px;
    border-radius: 50%;
    padding-right: 0px;
    padding-left: 0px;
  }
  .download-button svg {
    margin-top: -3px;
  }
  .download-button p {
    display: none;
}
}
@media only screen and (max-width: 380px) {
  .scooter-container {
      flex-direction: column;
  }
  .scooter-details {
      margin: 0 0;
  }
  .scooter-details .scooter-name {
      text-align: center;
  }
  .text-row {
      justify-content: center;
  }
  .green-boxes {
      justify-content: center;
  }
}
@media only screen and (max-width: 285px) {
  .text-container {
      gap: 2px;
  }
  .text-row {
      flex-direction: column;
      gap: 0px;
  }
  .text-item {
      width: 100%;
      text-align: center;
  }
  .static-text-width {
      width: auto;
  }
}

.no-scooter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.noScooterpicture {
    width: 100%;
    max-width: 400px;
}

.filter-menu-container {
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    border: 2px solid #4a4242;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
  
.filter-menu {
    max-height: 400px; /* Adjust this as needed */
    overflow-y: auto;
}

.filter-menu-container .filter-content{
    color: black;
}

.filter-row {
    display: flex; /* Verwende Flexbox */
}
  
.app-user-input {
    margin-bottom: 10px; /* Add a vertical space between the elements */
    flex: 1; /* Let the app-user-input components grow flexibly */
}
  
.filter-row app-user-input {
    flex: 1; /* Let the app-user-input components in the line grow flexibly */
    margin-right: 10px; /* Add a horizontal space between the elements */
}
  
.filter-row app-user-input:first-child {
    flex: 1; /* Change the flex property of the first app-user-input element */
}
  
.filter-row app-user-input:last-child {
    flex: 1; /* Change the flex property of the last app-user-input element */
    margin-right: 0;
}

.top {
    margin-top: 5pt;
    display: flex;
}

.top app-button {
    flex:1;
    margin-right: 5px
}

.top app-button:first-child {
    flex: 1;
}

.top app-button:last-child {
    flex: 1; 
}

.o-title {
    color: black;
    text-align: center;
    font-size: 12pt;
}

.info {
    color: black;
}

.headWrapper {
  width: 100%;
  left: 0%;
  top: 20%;  
}