<div class="page-container">
    <h1 class="title">Zahlungsmethode hinzufügen</h1>
    <div class="scrollable-container">
    
    <div class="text">
        Zahlungsanbieter wählen:
    </div>
    
    <div class="options">
        <div class="icon" routerLink="../addbachelorcard"> <img class="opticon" src='../../../assets/payment/bachelorcard.png'></div>
        <div class="icon" routerLink="../addhcipal"> <img class="opticon" src='../../../assets/payment/hciPal.png'></div>
        <div class="icon-active"> <img class="opticon" src='../../../assets/payment/swpsafe.png'></div>
    </div>
    <div class="login-container">

        <app-user-input label="Code"></app-user-input>

    </div>

    <div class="bottom">
      <app-button class="logout-btn" (click)="confirm()">
        Zahlungsmethode hinzufügen
      </app-button>
        <app-button color="accent" class="logout-btn" (click)="cancel()">
          Abbrechen
        </app-button>
    </div>
  </div>
</div>