<app-toast #toastComponent [showDuration]=3500 [type]="toastType" style="z-index: 9997;">
  {{toastMessage}}
</app-toast>
<div class="map-container">
  <div class="map-header">
    <span class="switch-btn" (click)="toggleListView()">
      <span class="material-icons icon-outlined" style="cursor: pointer;">{{ view === "map" ? "view_kanban" : "map" }}</span>
    </span>
    <app-filter-button (filterToggle)="toggleFilterView()"></app-filter-button>
    <h1 class="title logo">SCOOTER</h1>
    
    <input
      type="text"
      *ngIf="view === 'list'"
      class="search-input"
      placeholder="Suchen"
      [(ngModel)]="searchTerm"
    />
    <div *ngIf="filterMenuVisible && view === 'list'" class="headWrapper">
      <div *ngIf="filterMenuVisible && view === 'list'" class="filter-menu-container">
        <div class="top">
          <app-button class="btn" type="submit" (click)="onSubmit()">
            Filter & Sortierung anwenden
          </app-button>
          <app-button color="accent" class="btn" (click)="onCancel()">
            Filter & Sortierung verwerfen
          </app-button>
        </div>
        <div class="info"></div>
        <div class="filter-content">
          <h3 class="o-title">Filter Menü</h3>
          <app-sort-button class="sort-btn" (click)="toggleSortView()"></app-sort-button>
          <div class="sort-wrapper">
            <div *ngIf="sortMenuVisible" class="sort-menu">
              <p-dropdown [options]="cities" optionLabel="name" [(ngModel)]="selectedCity"  placeholder="Sortierung" (onChange)="onOrderChange($event)"></p-dropdown>
              <!-- 
              <div class="sort-menu-cont">(onChange)="onCityChange($event)"
                <h3 class="o-title">Sortier Optionen</h3>
                <app-button color="accent" class="btn" type="submit" (click)="sortCancel()">
                  Sortierung zurücksetzten
                </app-button>
                <div class="corresponding">
                  <app-button class="btn" type="submit" (click)="sortPrice(true)">
                    Preis aufsteigend
                  </app-button>
                  <app-button class="btn" type="submit" (click)="sortPrice(false)">
                    Preis absteigend
                  </app-button>
                </div>
                <div class="corresponding">
                  <app-button class="btn" type="submit" (click)="sortRange(true)">
                    Reichweite aufsteigend
                  </app-button>
                  <app-button class="btn" type="submit" (click)="sortRange(false)">
                    Reichweite absteigend
                  </app-button>
                </div>
                <div class="corresponding">
                  <app-button class="btn" type="submit" (click)="sortBty(true)">
                    Batteriestand aufsteigend
                  </app-button>
                  <app-button class="btn" type="submit" (click)="sortBty(false)">
                    Batteriestand absteigend
                  </app-button>
                </div>
                <div class="corresponding">
                  <app-button class="btn" type="submit" (click)="sortSpeed(true)">
                    Speed aufsteigend
                  </app-button>
                  <app-button class="btn" type="submit" (click)="sortSpeed(false)">
                    Speed absteigend
                  </app-button>
                </div>
              </div>
              -->
 
            </div>
          </div>
          <div class="form-container">
            <form [formGroup]="scooterFilterForm" (ngSubmit)="onSubmit()">
              <div class="filter-row">
                <app-user-input label="Mindestpreis" [(text)]="minPrice" formControlName="minPrice" (input)="autoFormatNumber($event, 'minPrice')"></app-user-input>
                <app-user-input label="Maximalpreis" [(text)]="maxPrice" formControlName="maxPrice" (input)="autoFormatNumber($event, 'maxPrice')"></app-user-input>
              </div>
              <div class="filter-row">
                <app-user-input label="Mindestreichweite" [(text)]="minRange" formControlName="minRange" (input)="autoFormatNumber($event, 'minRange')"></app-user-input>
                <app-user-input label="Maximalreichweite" [(text)]="maxRange" formControlName="maxRange" (input)="autoFormatNumber($event, 'maxRange')"></app-user-input>
              </div>
              <div class="filter-row">
                <app-user-input label="min. Batteriestand" [(text)]="minBty" formControlName="minBty" (input)="autoFormatNumber($event, 'minBty')"></app-user-input>
                <app-user-input label="max. Batteriestand" [(text)]="maxBty" formControlName="maxBty" (input)="autoFormatNumber($event, 'maxBty')"></app-user-input>
              </div>
              <div class="filter-row">
                <app-user-input label="min. Speed" [(text)]="minSpeed" formControlName="minSpeed" (input)="autoFormatNumber($event, 'minSpeed')"></app-user-input>
                <app-user-input label="max. Speed" [(text)]="maxSpeed" formControlName="maxSpeed" (input)="autoFormatNumber($event, 'maxSpeed')"></app-user-input>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Diese Komponente wird durch das "leaflet" Attribut mit der "Leaflet" Bibliothek initialisiert -->
  <!-- Bitte Dokumentation lesen: https://github.com/bluehalo/ngx-leaflet -->
  <div
    *ngIf="view === 'map' && qrButtonpressed === false"
    class="map"
    leaflet
    [leafletOptions]="options"
    [leafletLayers]="layers"
    (leafletClick)="onMapClick($event)" 
  >
  </div>

  <!-- Filter menu for the map -->
  <div *ngIf="filterMenuVisible && view ==='map'" class="wrapper-map" (click)="toggleFilterView()">
    <div *ngIf="filterMenuVisible && view ==='map'" class="filter-menu-container-map" (click)="$event.stopPropagation()">
      <div class="top">
        <app-button class="btn" type="submit" (click)="onSubmit()">
          Anwenden
        </app-button>
        <app-button color="accent" class="btn" (click)="onCancel()">
          Zurücksetzten
        </app-button>
      </div>
      <div class="info"></div>
      <div class="filter-content">
        <h3 class="o-title">Filter Menü</h3>
        <div class="form-container">
          <form [formGroup]="scooterFilterForm" (ngSubmit)="onSubmit()">
            <div class="filter-row">
              <app-user-input label="Mindestpreis" [(text)]="minPrice" formControlName="minPrice" (input)="autoFormatPrice($event, 'minPrice'); onMinPriceRangeChange()"></app-user-input>
              <app-user-input label="Maximalpreis" [(text)]="maxPrice" formControlName="maxPrice" (input)="autoFormatPrice($event, 'maxPrice'); onMaxPriceRangeChange()" ></app-user-input>
            </div>
            <div class="content-section implementation">
              <p-slider *ngIf="showSlider" [(ngModel)]="priceRange"  [range]="true" [min]="0" [max]="20" [step]="1" [ngModelOptions]="{standalone: true}" (onSlideEnd)="onPriceRangeChange()"></p-slider>
              <p>Preisbereich: {{priceRange[0]}} - {{priceRange[1]}}</p>
            </div>
            <div class="filter-row">
              <app-user-input label="Mindestreichweite" [(text)]="minRange" formControlName="minRange" (input)="autoFormatNumber($event, 'minRange'); onMinScooterRangeChange()"></app-user-input>
              <app-user-input label="Maximalreichweite" [(text)]="maxRange" formControlName="maxRange" (input)="autoFormatNumber($event, 'maxRange'); onMaxScooterRangeChange()"></app-user-input>
            </div>
            <div class="content-section implementation">
              <p-slider *ngIf="showSlider" [(ngModel)]="scooterRange"  [range]="true" [min]="0" [max]="300" [step]="1" [ngModelOptions]="{standalone: true}" (onSlideEnd)="onScooterRangeChange()"></p-slider>
              <p>Reichweitenbereich: {{scooterRange[0]}} - {{scooterRange[1]}}</p>
            </div>
            <div class="filter-row">
              <app-user-input label="min. Batteriestand" [(text)]="minBty" formControlName="minBty" (input)="autoFormatNumber($event, 'minBty')" (ngModelChange)="onMinBatteryRangeChange()"></app-user-input>
              <app-user-input label="max. Batteriestand" [(text)]="maxBty" formControlName="maxBty" (input)="autoFormatNumber($event, 'maxBty')" (ngModelChange)="onMinBatteryRangeChange()"></app-user-input>
            </div>
            <div class="content-section implementation">
              <p-slider *ngIf="showSlider" [(ngModel)]="batteryPercentageRange"  [range]="true" [min]="0" [max]="100" [step]="1" [ngModelOptions]="{standalone: true}" (onSlideEnd)="onBatteryRangeChange()"></p-slider>
              <p>Batteriestand: {{batteryPercentageRange[0]}} - {{batteryPercentageRange[1]}}</p>
            </div>
            <div class="filter-row">
              <app-user-input label="min. Speed" [(text)]="minSpeed" formControlName="minSpeed" (input)="autoFormatNumber($event, 'minSpeed');" (ngModelChange)="onMaxSpeedRangeChange()"></app-user-input>
              <app-user-input label="max. Speed" [(text)]="maxSpeed" formControlName="maxSpeed" (input)="autoFormatNumber($event, 'maxSpeed')" (ngModelChange)="onMinSpeedRangeChange()"></app-user-input>
            </div>
            <div class="content-section implementation">
              <p-slider *ngIf="showSlider" [(ngModel)]="speedRange"  [range]="true" [min]="0" [max]="540" [step]="10" [ngModelOptions]="{standalone: true}" (onSlideEnd)="onSpeedRangeChange()"></p-slider>
              <p>Geschwindigkeitsbereich: {{speedRange[0]}} - {{speedRange[1]}}</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- If the switch button is pressed, the scooterList page should be loaded. -->
  <app-scooter-list *ngIf="view === 'list' && qrButtonpressed === false" [searchTerm]="searchTerm" [mapScooters]="sortedScooters" scrollPosition="{{listScrollPosition}}" (finishedLoadingAndPositioning)="adjustPageHeight()"></app-scooter-list>

  <!-- QR Icon -->
  <div *ngIf="view === 'map'" class="qr-container" (click)="startQrCodeScanner()">
    <div *ngIf="!isLoading; else loading">
      <svg
        class="qr-icon"
        width="50"
        height="50"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M2 2H10V10H2V2ZM4 4V8H8V4H4ZM14 2H22V10H14V2ZM16 4V8H20V4H16ZM2 14H10V22H2V14ZM4 16V20H8V16H4ZM14 14H16V16H14V14ZM18 14H22V16H20V18H22V22H18V20H16V22H14V18H18V14ZM16 18H18V16H16V18Z"
          fill="#00363D"
        />
     </svg>
    </div>
  </div>

  <video #videoElement [ngClass]="['video-preview', qrActive ? 'video-visible' : 'video-hidden']" autoplay></video>
  <div id="qr-reader"></div>

  <!-- if camera is loading -->
  <ng-template #loading>
    <svg
        class="qr-icon"
        width="50"
        height="50"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M2 2H10V10H2V2ZM4 4V8H8V4H4ZM14 2H22V10H14V2ZM16 4V8H20V4H16ZM2 14H10V22H2V14ZM4 16V20H8V16H4ZM14 14H16V16H14V14ZM18 14H22V16H20V18H22V22H18V20H16V22H14V18H18V14ZM16 18H18V16H16V18Z"
          fill="black"
        />
     </svg>
    <div class="loading-container">
      <app-loading-overlay [isLoading]="true" type="inline"></app-loading-overlay>
    </div>
  </ng-template>
  
</div>
