<div class="overlay" *ngIf="showModal" (click)="onCancel()">
  <div class="popup" (click)="$event.stopPropagation()" @modalAnimation>
    <div class="icon" *ngIf="showIcon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM13 17H11V15H13V17ZM13 13H11V7H13V13Z" fill="#123800"/>
      </svg>
    </div>
    <div class="title">
      {{title}}
    </div>
    <div class="text">
      <div #content><ng-content></ng-content></div>
      <ng-container *ngIf="!content.hasChildNodes()">
        Bist du sicher, dass du diese Aktion durchführen willst?
      </ng-container>
    </div>
    <div *ngIf="!reverseControls" [ngClass]="['buttons', centerControls ? 'controls-centered' : 'controls-right']">
      <app-button design="thin" color="accent" (click)="onCancel()">{{cancelText}}</app-button>
      <app-button design="thin" (click)="onConfirm()">{{confirmText}}</app-button>
    </div>
    <div *ngIf="reverseControls" [ngClass]="['buttons', centerControls ? 'controls-centered' : 'controls-right']">
      <app-button design="thin" (click)="onConfirm()">{{confirmText}}</app-button>
      <app-button design="thin" color="accent" (click)="onCancel()">{{cancelText}}</app-button>
    </div>
</div>