.scrollable-container {
    max-height: 80vh;
    overflow-y: auto;
    padding-top: 0;
}

.scooter-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: min-content;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scooter-item {
    padding-top: 24px; /* Changes the spacing of the scooter boxes */
    margin-top: 1px;
    animation: fadeIn 0.25s ease-out;
    width: 100%;
    min-width: 245px;
    max-width: 700px;
}

.top-box {
    display: flex; /* Ensure alignment works */
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #00363D;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto; /* Adjust margin to center the box and cover borders */
    padding: 10px;
    cursor: pointer;
}

.scooter-name {
    text-align: center; /* Centers the text horizontally */
    padding: 10px 20px;
    color: #9AF0FF;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 21px;
    word-wrap: break-word;
}

.scooter-box {
    padding: 0px 0 13px;
    border: none; /* Remove all borders */
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #f9f9f9;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
}

.scooter-box h3 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: black; 
}

.scooter-box p {
    margin: 0;
    font-size: 1em;
    color: black;
}

.dividing-line {
    width: 100%; 
    height: 2px; 
    background-color: #7FFF00; 
}

.picture {
    width: auto;
    height: auto;
    max-width: 60%;
    max-height: 300px;
    /* object-fit: contain; */
    display: block;
    margin: 10px auto;
    border-radius: 15px;
}

.secondary-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap: 40px;
    margin: 15px;
    margin-top: 10px;
    margin-bottom: 4px;
}
@media only screen and (max-width: 630px) {
  .secondary-text {
    justify-content: flex-start;
    gap: 10px;
  }
}

.space-left {
    margin-left: 0px;
}
@media only screen and (max-width: 570px) {
  .space-left {
    margin-left: 30px;
  }
}
@media only screen and (max-width: 445px) {
  .space-left {
    margin-left: 0px;
  }
  .secondary-text {
    justify-content: space-between;
  }
}

.stat-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.distance-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.info-box {
    padding: 4px 9px 2px 9px;
    border-radius: 4px;
    background: var(--Surface-overlay, rgba(33, 33, 33, 0.08));
    white-space: nowrap;
}

.info-box-distance {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-right: 9px;
  padding-left: 5.5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 4px;
  background: var(--Highlights-Stroke, #123800);
  color: var(--Highlights, #97FB64);
  white-space: nowrap;
}

.info-box-distance span {
  padding: 1px 0px 0px 7.69px;
  line-height: 1;
  color: var(--Highlights, #97FB64); /* or color: red; */
}

.secondary-text .secondary-text-font {
    font-size: 14px;
    color: #808080; 
    padding-top: 2px;
}

.secondary-text .distance-wrapper-font {
  font-size: 14px;
  color: var(--Highlights-Stroke, #123800); 
  padding-top: 2px;
}

.scooter-details {
    display: flex;
    justify-content: space-between; /* Placement of green-button on the right */
    align-items: center; /* Centering content for green-button */
    padding: 2px;
    /* margin-top: 7px; */
    padding-right: 15px;
    padding-left: 15px;
}

.price {
    font-weight: bold;
    font-family: Roboto;
    letter-spacing: 1.25px;
    font-size: 14px;
}

.green-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #7FFF00;
    padding: 2px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: -10px;
}

.suggestion-text {
    font-size: 0.9em; /* Adjust font size for better visibility */
}
  

.no-scooter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.noScooterpicture {
    width: 100%;
    max-width: 400px;
}