/**
    Angular Komponenten werden durch ein "ng-component" HTML Element dynamisch in die Seite eingefügt.
    Via :host können Styles für dieses "Parentelement" festgelegt werden.
*/
:host {
  display: block;
}

button {
  padding: 15px 32px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  min-width: min-content;
}

.thin {
  padding: 10px 22px;
  font-size: 13px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
  min-width: 73px;
}

.transition {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/**
    In CSS kann man Style für verschiedene Aktionen ("Selector") festlegen,
    z.B. für das Drücken eines Buttons (:active) oder mouseover (:hover).
    Da es kein Mouseover auf einem Touchscreen gibt, ist es für das Projekt nicht notwendig.
 */
button:active {
  transform: scale(0.95);
}

button.primary {
  background-color: var(--primary-bg);
  color: var(--primary-fg);
  border-color: var(--primary-fg);
}

button.accent {
  background-color: var(--accent-bg);
  color: var(--accent-fg);
  border-color: var(--accent-fg);
}

button.warn {
  background-color: var(--warn-bg);
  color: var(--warn-fg);
  border-color: var(--warn-fg);
}

button.primary.light, button.accent.light, button.warn.light {
  border-color: var(--accent-fg, #2a1800);
}

button:disabled {
  background-color: #B4B4B4;
  color: #FFFFFF;
  border-color: #FFFFFF;
  cursor: not-allowed;
}

button:disabled:active {
  transform: scale(1);
}
