.payment-entry {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: white;
  
    border-radius: 4px;
    border: 1px solid var(--Textfeld-Stroke, #000);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

.payment-icon {
    max-width: 80px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    background-size: cover;
    width: 80px;
    height: 80px;
  }

.payment-entry .text .name {
    font-size: 20px;
    font-style: normal;
    color:#000;
  }

.payment-entry .text .description {
    color: black;
    font-size: 14px;
    width: 100%;
  }
.delete-icon {
    position: absolute;
    max-width: 60px;
    margin-left: 150px;
    margin-top: auto;
    margin-bottom: auto;
    background-size: cover;
    width: 60px;
    height: 60px;
}