.scrollable-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: min-content;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 700px;
  min-width: min-content;
}
@media only screen and (max-height: 850px) {
  .centered {
    height: auto;
  }
}

.options {
  margin-top: 20px;
  font-size: 14px;
  width: 100%;
  min-width: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.options .icon {
  position: relative;
  width: 100%;
  min-width: 50px;
  background-color: white;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 6px;
  border: 1px solid var(--Textfeld-Stroke, #000);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.options .icon img {
  max-width: 80px;
  width: 100%;
  height: auto;
}

.bottom {
  margin-top: 45px;
  width: 100%;
  min-width: min-content;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  margin-bottom:20px;
}

.btn {
  width: 100%;
  max-width: 300px;
}

.options .active {
  background-color: #bdecc1;
  /* background-color: rgb(141, 244, 172); */
  /* background: rgba(17, 198, 68, 0.35); */
}

.options .active svg {
  position: absolute;
  top: 5px;
  right: 5px;
}

.form-container {
  min-width: min-content;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

app-user-input {
  width: 100%;
}

.error {
  width: 100%;
  color: #fa3737;
}
