.add {
    display: flex;
    padding: 8px;
    align-items: flex-start;
    align-self: stretch;
    justify-content: center;
    
    gap: 20px;
  
    border-radius: 4px;
    border: 1px solid var(--Primary-Stroke, #9AF0FF);
    background: rgba(255, 255, 255, 0.20);
  }

.add .text {
    font-size: 14px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: center;
} 

.plus {
  position: relative;
  width: 27px; /* size of the largest svg */
  height: 27px; /* size of the largest svg */
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  text-align: center;
  align-self: center;
}

.plus svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 174px; /*hardcoded weil ich es anders nicht hinbekommen habe*/
  transform: translate(-50%, -50%);
}

.plus .svg1 {
  width: 23px;
  height: 23px;
  z-index: 2;
}

.plus .svg2 {
  width: 21px;
  height: 21px;
  z-index: 3;
}

.plus .svg3 {
  width: 27px;
  height: 27px;
  z-index: 1;
}

.back-btn {
  position: absolute;
  top: 50px;
  left: 20px;
  width: 30px;
  height: 30px;

  color: var(--icon-color);
  border-radius: 100px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.back-btn mat-icon {
  font-size: 16px;
  padding: 4px;
}
