<app-loading-overlay [isLoading]="isLoading"></app-loading-overlay>

<app-toast #toastComponentPaymentAdded [showDuration]=2500 type="success">Zahlungsmethode hinzugefügt!</app-toast>
<app-toast #toastComponentError [showDuration]=2500 type="error">{{errorMessage}}</app-toast>

<ng-container *ngIf="!loadingPage && !loadingOptions && !loadingOptions else loading">
  <div *ngIf="product && scooter && option; else noScooters1" class="page-container">
    <app-back-button [path]="'search/scooter/' + scooter.id"></app-back-button>
    <h1 class="title">Scooter buchen</h1>
      <div class="scrollable-container">

        <div class="scooter-box">
            <img class="picture" src="http://localhost:8000/img/products/{{ product.name }}.jpg">
            <div class="scooter-details">
                <p class="scooter-name">{{ scooter.product_id }}</p>
                <div class="scooter-stats">
                    <div class="scooter-stats-row">
                        <div class="scooter-attribute">
                            <p>Batteriestand:</p>
                        </div>
                        <div class="values">
                            <p>{{ scooter.battery.toFixed(0) }}%</p>
                        </div>
                    </div>
                    <div class="scooter-stats-row">
                        <div class="scooter-attribute">
                            <p>Reichweite:</p>
                        </div>
                        <div class="values">
                            <p>{{ convertDistanceUnits(calcRange(product.max_reach, scooter.battery), this.selectedDistance) }}</p>
                        </div>
                    </div>
                    <div class="scooter-stats-row">
                        <div class="scooter-attribute">
                            <p>Geschwindigkeit:</p>
                        </div>
                        <div class="values">
                            <p>{{ convertSpeedUnits(product.max_speed, this.selectedSpeed) }}</p>
                        </div>
                    </div>
                    <div class="scooter-stats-row">
                        <div class="scooter-attribute">
                            <p>Preis pro Stunde:</p>
                        </div>
                        <div class="values">
                            <p>{{ convertCurrencyUnits(product.price_per_hour, this.selectedCurrency) }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="form-container">
          <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
            <label class="form-label">Für wie viele Stunden?</label>
    
            <div class="input-container">
              <app-user-input 
                [center]="true"
                formControlName="duration"
              ></app-user-input>

              <p>Stunden</p>
              <div class="input-controls">
                <div class="svg-container" (click)="handlePlusClick()">
                  <svg class="svg1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.9371 0C6.69183 0 0 6.69183 0 14.9371C0 23.1824 6.69183 29.8742 14.9371 29.8742C23.1824 29.8742 29.8742 23.1824 29.8742 14.9371C29.8742 6.69183 23.1824 0 14.9371 0ZM14.8148 27.4074C7.85741 27.4074 2.22222 21.7722 2.22222 14.8148C2.22222 7.85741 7.85741 2.22222 14.8148 2.22222C21.7722 2.22222 27.4074 7.85741 27.4074 14.8148C27.4074 21.7722 21.7722 27.4074 14.8148 27.4074Z" fill="white"/>
                  </svg>
                  <svg class="svg2" xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M21.3981 14.6388H14.8981V21.1388H12.7315V14.6388H6.23148V12.4722H12.7315V5.97217H14.8981V12.4722H21.3981V14.6388Z" fill="white"/>
                  </svg>
                </div>
    
                <div class="svg-container" (click)="handleMinusClick()">
                  <svg class="svg3" xmlns="http://www.w3.org/2000/svg" width="31" height="30" viewBox="0 0 31 30" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8114 0C7.56607 0 0.874237 6.69183 0.874237 14.9371C0.874237 23.1824 7.56607 29.8742 15.8114 29.8742C24.0567 29.8742 30.7485 23.1824 30.7485 14.9371C30.7485 6.69183 24.0567 0 15.8114 0ZM15.6891 27.4074C8.73164 27.4074 3.09646 21.7722 3.09646 14.8148C3.09646 7.85741 8.73164 2.22222 15.6891 2.22222C22.6465 2.22222 28.2816 7.85741 28.2816 14.8148C28.2816 21.7722 22.6465 27.4074 15.6891 27.4074Z" fill="white"/>
                  </svg>
                  <svg class="svg4" xmlns="http://www.w3.org/2000/svg" width="17" height="3" viewBox="0 0 17 3" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.8683 2.25352H0.854462V0.290039H16.8683V2.25352Z" fill="white"/>
                  </svg>
                </div>
              </div>

            </div>
            <div *ngIf="durationErrors" class="error">{{ durationErrors }}</div>
    
            <div class="price">Gesamtpreis: {{calcPrice(product.price_per_hour)}}</div>
    
            <label class="form-label">Zahlungsmethoden</label>
    
            <ng-container *ngIf="paymentsStatus; else paymentMethodsCheck">
              <div class="status-message">{{paymentsStatus}}</div>
            </ng-container>
            
            <ng-template #paymentMethodsCheck>
              <ng-container *ngIf="paymentMethods.length === 0; else paymentEntries">
                <app-add-button [clickAdd]="onClickAddPaymentMethod.bind(this)">Neue Zahlungsmethode hinzufügen</app-add-button>
              </ng-container>
            </ng-template>
    
            <ng-template #paymentEntries>
              <div class="payment-method" *ngFor="let method of paymentMethods">
                <input type="radio" [value]="method.id" id="{{method.id}}" formControlName="radioButtonChoice" />
                <label for="{{method.id}}">
                  <app-payment-method-card [paymentMethod]="method" [isDeletable]="false" [isChecked]="method.id === checkoutForm.controls['radioButtonChoice'].value"></app-payment-method-card>
                </label>
              </div>
            </ng-template>
            
            <div *ngIf="radioButtonErrors" class="error" style="margin-top:10px; text-align: center;">{{ radioButtonErrors }}</div>
    
            <div class="bottom">
              <div style="text-align: center;" class="error">{{errorMessage}}</div>

              <app-button class="btn" type="submit" [disabled]="checkoutForm.invalid">
                Buchung bestätigen
              </app-button>
              <app-button color="accent" class="btn" (click)="onCancel()">
                Abbrechen
              </app-button>
            </div>
          </form>
        </div>

    </div>
  </div>
</ng-container>
<ng-template #noScooters1>
  <div class="no-scooter-container">
      <h3>Scooter nicht gefunden.</h3>
      <img class="noScooterpicture" src="/assets/NoScooter.png" />
  </div>
</ng-template>

<ng-template #loading></ng-template>