<div class="page-container">
    <h1 class="title">Neues Kundenkonto</h1>
    <div class="scrollable-container">
      <form [formGroup]="registerForm" class="my-form" (ngSubmit)="onSubmit()">
        <app-user-input
           label="Name"
           [(text)]="name"
           formControlName="name"
           (blurEvent)="updateErrorMessages()"
        ></app-user-input>
        <div class="error">{{errorNameMessage}}</div>

        <div class="address-row">
            <app-user-input
               label="Straße"
               [(text)]="street"
               formControlName="street"
               (blurEvent)="updateErrorMessages()"
            ></app-user-input>

            <app-user-input
               label="Nummer"
               [(text)]="houseNumber"
               formControlName="houseNumber"
               (blurEvent)="updateErrorMessages()"
            ></app-user-input>
        </div>
        <div class="error">{{errorStreetMessage}}</div>
        <div class="error">{{errorHouseNumberMessage}}</div>

        <app-user-input
           label="Postleitzahl"
           [(text)]="zipCode"
           formControlName="zipCode"
           (blurEvent)="updateErrorMessages()"
        ></app-user-input>
        <div class="error">{{errorZipCodeMessage}}</div>

        <app-user-input
           label="Ort"
           [(text)]="city"
           formControlName="city"
           (blurEvent)="updateErrorMessages()"
        ></app-user-input>
        <div class="error">{{errorCityMessage}}</div>

        <app-user-input
           label="Email"
           [(text)]="email"
           formControlName="email"
           (blurEvent)="updateErrorMessages()"
        ></app-user-input>
        <div class="error">{{errorEmailMessage}}</div>

        <app-user-input
           label="Passwort"
           type="password"
           [(text)]="password1"
           formControlName="password1"
           (blurEvent)="updateErrorMessages()"
        ></app-user-input>
        <div class="error">{{errorPassword1Message}}</div>

        <app-user-input
           label="Passwort wiederholen"
           type="password"
           [(text)]="password2"
           formControlName="password2"
           (blurEvent)="updateErrorMessages()"
        ></app-user-input>
        <div class="error">{{errorPassword2Message}}</div>

        <div class="bottom">
            <div style="text-align: center;" class="error">{{errorMessage}}</div>

            <app-button color="primary" type="submit" class="registration-btn" [disabled]="registerForm.invalid">
                Registrieren
            </app-button>

            <div class="info">
                Konto vorhanden? <a routerLink="/login">Zum Login</a>
            </div>            
        </div>
      </form>
    </div>
</div>
