<div class="overlay" *ngIf="showModal" (click)="onClose()">
  <div class="modal" (click)="$event.stopPropagation()" @modalAnimation>
    <div class="icon" *ngIf="showIcon">
      <svg *ngIf="iconMode === 'info'" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#123800"><path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>
      <svg *ngIf="iconMode === 'warn'" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM13 17H11V15H13V17ZM13 13H11V7H13V13Z" fill="#C55136"/></svg>
    </div>
    <div class="title">
      {{title}}
    </div>
    <div class="text">
      <ng-content></ng-content>
    </div>
    <div [ngClass]="['buttons', centerControls ? 'controls-centered' : 'controls-right']">
      <app-button *ngIf="showActionButton" design="thin" (click)="onAction()">{{actionText}}</app-button>
      <app-button design="thin" color="accent" (click)="onClose()">{{closeText}}</app-button>
  </div>
</div>