@for (emp of employees; track employees) { <!-- iterate over the employees array and display the information for each employee -->
    <div class="about-me">
        @if (emp.imgUrl) { <!--only display a picture if the employee has one-->
            <div class="picture">
                <img class="picture" [src]="emp.imgUrl">
            </div>
        }
        <div class="text">
            <div class="name"><h3>{{emp.name}}</h3></div>
            @if (emp.info) {<div class="info">{{emp.info}}</div>} <!--only display employee info if it exists-->
            @if (emp.email) {<div class="email"><a href="mailto: {{emp.email}}">{{emp.email}}</a></div>}
        </div>
    </div>
}