.bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 0px;
    margin-top: 20px; /* Add an upper spacing */
    margin-bottom: 40px;
}

  .error {
    color: rgb(226, 27, 27);
}

.scooterBook-btn {
    width: 50%;
    min-width: min-content;
}

.picture {
    width: auto;
    height: auto;
    margin-top: 35px;
    max-width: 70%;
    max-height: 70%;
    display: block; /* Ensures that the image is treated as a block element */
}

hr.solid {
    border-top: 2px solid #97FB64;
}

.description {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px; /* 131.25% */
    letter-spacing: -0.32px;
    margin-bottom: 30px;
    padding-top: 40px; /* Padding top instead of margin top */
    padding-left: 20px; /* Increase left padding */
    padding-right: 20px; /* Increase right padding */
}

.description h1 {
    line-height: 6; /* Ändere die Zahl entsprechend deiner Präferenz */
}

.box {
    display: "flex";
    height: 290px;
    margin-left: 0;
    background: var(--Textfeld-Fill, #FFF);
    flex-shrink: 0;
    padding: 0;
}
.content-block {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 12px;
    margin-left: 8px;
}

.secondary-text {
    color: var(--Textfeld-Stroke, #000);
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.25px;
}

.primary-text {
    color: #000;
    font-family: "Racing Sans One";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 116.667% */
    letter-spacing: -0.32px;
    text-align: center;
}

.information-block {
    margin-right: 19px;
    margin-top: 32px;
}

.price {
    width: 110px;
    height: 26px;
    border-radius: 15px;
    border: 1px solid var(--Highlights-Stroke, #123800);
    background: var(--Highlights-Stroke, #123800);
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: auto;
}

.price svg {
    margin-top: 1px;
}

.price-text {
    color: var(--Highlights, #97FB64);
    font-family: "Racing Sans One";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 116.667% */
    letter-spacing: -0.32px;
    text-align: center;
    margin-top: 1px;
    margin-left: 2px;
}

.map {
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 300px;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.scrollable-container {
    max-height: 80vh; /* 80% of the screen height */
    overflow-y: auto; /* Activate vertical scrolling */
}

