<div class="page-container">
  <app-back-button></app-back-button>
  <h1 class="title">Über uns</h1>

  <div class="scrollable-container">

    <div class="centered">

      <p>
        Auf dieser Seite finden Sie Informationen zur SWP Gruppe 6,
        die die App entwickelt hat.
      </p>

      <div class="about-us">
        <h2>Unser Team</h2>
        <app-about-us></app-about-us>
      </div>

      <div class="institution">
        <h2>Institution</h2>
        <app-institution></app-institution>
      </div>

    </div>

  </div>

</div>
