<div class="page-container">
  <app-back-button></app-back-button>

  <h1 class="title">Über uns</h1>

  <div class="scrollable-container">
    <p>
      Auf dieser Seite finden Sie mehr Informationen zu der Webseite von
      Island-Explorer.
    </p>

    <h2>Unser Team</h2>

    <!-- Hier können die Komponenten vom Individualprojekt hinzugefügt werden -->
    <app-maximilian-jaeger></app-maximilian-jaeger>
    <app-jonas-about></app-jonas-about>    
    <app-maxo-about></app-maxo-about>
    <app-silvan-ronge></app-silvan-ronge>
  </div>
</div>
